{% extends "layout.html" %}
{% block title %} WhoDaMan - Play {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div>
      <main>
        <form id="start">
          <header>
            <h1>
              WhoDaMan
            </h1>
          </header>
          <input id="name" type="text" maxlength="100" placeholder="Your name">
          <p>P.S. Your name will be shared with the moderator</p>
        </form>
        <div id="panel">
          <div class="panel__label">Score &mdash; <span id="score">0</span></div>
          <button id="buzz" type="submit" style="display: none;">⚡️</button>
          <div id="state">Waiting...</div>
        </div>
        <ul id="buzzes"></ul>
      </main>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='play.js') }}"></script>
    <script>
    window.onbeforeunload = function(){
      return "Are you sure you want to close the window?";
    }
    </script>
{% endblock %}